.main-header
    position: absolute
    left: 0
    right: 0
//padding-top: 2em

.logo
    position: absolute
    top: 1.5em
    left: 1.5em
    width: 15%
    height: auto

.logo-img 
    max-width: 60%
    height: auto
    
    @media(min-width: 750px)
        width: 40%

