#experiences_main
    height: max-content

.carousel-container
    height: 80vh
    margin: 0 auto
    padding: 2rem 0 2rem 6rem

.card
    display: grid
    grid-template-columns: 40% 40%
    gap: 2%
    padding: 2% 8%
    margin: 0 auto

    @media(max-width: 750px)
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr

.text-content
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 90% 10%
    grid-template-areas: "text" "buttons"
    justify-items: center
    text-align: center
    padding: 2.5rem 1.2rem 1.5rem 1.2rem
    border-radius: 20px
    box-shadow: 5px 5px 25px lighten($bulky, 50%)
    height: 65vh

.image-card
    border-radius: 10px
    box-shadow: 5px 5px 25px lighten($bulky, 50%)
    padding: 1rem
    max-height: 60vh
    align-items: center
    justify-items: center
    display: grid
    grid-template-columns: 1fr 1fr
    justify-items: center
    text-align: center
    width: 40vw
    height: 70vh

    img
        width: 95%
        height: 95%
        object-fit: cover
        margin: 0 auto
        grid-column: 1 / span 2

       
// ---ARROWS
.carousel-arrows
    display: flex
    gap: 10px
    padding: 0
    grid-area: 'buttons'

    button
        width: 2rem
        height: 2rem
        border-radius: 45%
        border: none
        background: rgba(lighten($bulky, 40%), 60%)
        font-size: 1.75rem
        font-wheight: bold
        color: white
        cursor: pointer





