#experiences_main
    height: 100vh


.carousel-container
    width: 100%
    height: 75vh 
    margin: 0 auto

.card
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: 40% 50%
    grid-template-rows: 1fr
    gap: 2%
    padding: 2% 8%

    @media(max-width: 750px)
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr

.image-card
    object-fit: cover
    border-radius: 10px
    box-shadow: 5px 5px 25px lighten($bulky, 50%)
    padding: 2%

    img
        width: 98%
        height: 98%
        object-fit: cover
        z-index: -1
        //animation: disapear 1s 1.5s linear 1 forwards

        //@keyframes disapear to filter: blur(0) opacity: 0


.text-content
    display: flex
    flex-direction: column
    gap: 1.5rem
    align-items: center
    padding: 1.5rem
    padding-top: 5vh
    border-radius: 20px
    box-shadow: 5px 5px 25px lighten($bulky, 50%)

// ---ARROWS
.carousel-arrows
    display: flex
    gap: 10px
    padding: 0

    button
        width: 2rem
        height: 2rem
        border-radius: 45%
        border: none
        background: rgba(lighten($bulky, 40%), 60%)
        font-size: 1.75rem
        font-wheight: bold
        color: white
        cursor: pointer




